*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.b{
  border:2px solid black;
}
header{
  background-color: #198754;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.screen{
  min-height: 80vh;
}

.pad{
  padding: 5vh 9vw;
}
.wh{
  color: white;
}
.subtitle, .sec-form{
  margin: 1vh 1vw;
}
.ta{
  text-align: center;
}
.i-form,.ta-form,.s-form{
  display: block;
  padding: 10px;
  width: 80%;
  margin: 3vh auto;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
}
.i-form, .s-form{
  height: 30px;
}

.ta-form{
  height: 80px;
}

.card{

}
.card-header{

}
.img-container{
  height: 200px;
  width: 300px;
  position: relative;
}
.mini-img{
  position: absolute;
  height: 100%;
  width: 100%;
}